In [3]:
# List of Highschools
high_schools=["Hernandez High School","Figueroa High School","Wilson High School"]
for schools in high_schools:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School

In [16]:
# A Dictionary of high schools and the type of school
high_school_types=[{"High School":"Griffin", "Type":"District"},
                   {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [23]:
# List of high schools
high_schoos = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [24]:
import pandas as pd

In [26]:
#create a Pandas series from a list
school_series= pd.Series(high_schoos)
school_series.head(11)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
dtype: object

In [27]:
# A dictionary of high schoold
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [31]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [51]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

schooltype = ["District", "District", "Charter", "District","Charter"]

In [52]:
#initialize a new DataFrame
school_df= pd.DataFrame()

school_df["school_id"]= school_id
school_df["school_name"]= school_name
school_df["schooltype"]= schooltype

school_df

   school_id            school_name schooltype
0          0      Huang High School   District
1          1   Figueroa High School   District
2          2    Shelton High School    Charter
3          3  Hernandez High School   District
4          4    Griffin High School    Charter

In [53]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [64]:
school_df= pd.DataFrame(high_schools_dict)
school_df.columns
school_df.index
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)